@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<CharacterSheetApp.Models.Character>
@section header{
    <meta name="description" content="Lists all characters in CharacterApp"/>
}
<h2>Character</h2>
<div>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <a asp-action="Details" asp-controller="Character" asp-route-name="@item.Name">
                    @item.Name
                </a>
            </li>}
    </ul>
    <div class="row">
        <a asp-action="Create" asp-controller="Character">Add Character</a>        
    </div>
</div>
