@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<CharacterSheetApp.Models.Character>
<h2>Character</h2>
<a asp-action="Create" asp-controller="Character">
	<div>
		<input name="characterName" />
		<input type="submit" value="Add Character" />
	</div>
</a>
<div>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <a asp-action="Details" asp-controller="Character" asp-route-name="@item.Name">
                    @item.Name
                </a>
            </li>}
    </ul>
</div>
